#Ignore everythng 
*

!.zshrc
!.zshenv
!.tmux.conf
!.command_list
!.gitconfig
!.gitignore
!.git-credentials
!.my_zsh_autosuggestions
!.myzsh
!.myzsh/**
!TODO

!.github
!.github/**

!.ssh
!.ssh/authorized_keys

#Termux
!.termux
!.termux/**

!.config/
!.config/**
.config/discord/
.config/mozilla/
.config/pulse/pulse-auth
.config/pulse/cookie
.config/nvim/nvim_plugins/*
.config/hypr/monitor.conf
.config/BraveSoftware/Brave-Browser/*
!.config/BraveSoftware/Brave-Browser/Default
.config/BraveSoftware/Brave-Browser/Default/Cookies
.config/BraveSoftware/Brave-Browser/Default/DIP*
.config/BraveSoftware/Brave-Browser/Default/Favicons
.config/BraveSoftware/Brave-Browser/Default/History
.config/BraveSoftware/Brave-Browser/Default/History-journal
.config/BraveSoftware/Brave-Browser/Default/Login Data
.config/BraveSoftware/Brave-Browser/Default/Network Action Predictor
.config/BraveSoftware/Brave-Browser/Default/Network Persistent State
.config/BraveSoftware/Brave-Browser/Default/Preferences
.config/BraveSoftware/Brave-Browser/Default/Reporting and NEL
.config/BraveSoftware/Brave-Browser/Default/MediaDeviceSalts
.config/BraveSoftware/Brave-Browser/Default/Shared Dictionary
.config/BraveSoftware/Brave-Browser/Default/TransportSecurity
.config/BraveSoftware/Brave-Browser/Default/Web Data
.config/BraveSoftware/Brave-Browser/Default/ads_service/database.sqlite
.config/BraveSoftware/Brave-Browser/**/Cache*
.config/BraveSoftware/Brave-Browser/**/Code Cache/
.config/BraveSoftware/Brave-Browser/**/GPUCache/
.config/BraveSoftware/Brave-Browser/**/Service Worker/
.config/BraveSoftware/Brave-Browser/**/Session Storage/
.config/BraveSoftware/Brave-Browser/**/Sessions/
.config/BraveSoftware/Brave-Browser/**/IndexedDB/
.config/BraveSoftware/Brave-Browser/**/Local Storage/
.config/BraveSoftware/Brave-Browser/**/WebStorage/
.config/BraveSoftware/Brave-Browser/**/Sync Data/
.config/BraveSoftware/Brave-Browser/**/Dawn*
.config/BraveSoftware/Brave-Browser/**/File System/
.config/BraveSoftware/Brave-Browser/**/shared_proto_db/
.config/BraveSoftware/Brave-Browser/**/*.log
.config/BraveSoftware/Brave-Browser/**/*.log.old
.config/BraveSoftware/Brave-Browser/**/LOG
.config/BraveSoftware/Brave-Browser/**/LOG.old
.config/BraveSoftware/Brave-Browser/**/*.ldb
.config/BraveSoftware/Brave-Browser/**/MANIFEST-*

!.local/
!.local/bin/
!.local/bin/**

!data/
!data/**
data/Wallpapers/wallpaper.active
