#Ignore everythng 
*

!.zshrc
!.zshenv
!.tmux.conf
!.command_list
!.gitconfig
!.gitignore
!.git-credentials
!.my_zsh_autosuggestions
!.myzsh
!.myzsh/**
!TODO

!.github
!.github/**

!.ssh
!.ssh/authorized_keys

#Termux
!.termux
!.termux/**

!.config/
!.config/**
.config/discord/
.config/mozilla/
.config/pulse/pulse-auth
.config/pulse/cookie
.config/BraveSoftware
!.config/BraveSoftware/Brave-Browser/Default
.config/nvim/nvim_plugins/*
.config/hypr/monitor.conf

!.local/
!.local/bin/
!.local/bin/**

!data/
!data/**
data/Wallpapers/wallpaper.active
