[user]
	email = you@example.com
	name = Your Name
[credential]
	helper = store
[alias]
    # exclamation mark will say to git that it should be ran as shell command rather than git subcommand
    sync = !git stash push -u && git pull --rebase && git stash pop || true
