* {
    outline: none;
}

window {
margin: 0px;
border: 1px solid #393939;
background-color: #000000;
}

#input:focus {
outline: none;
box-shadow: none; 
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #33343b;
}

#inner-box {
margin: 5px;
border: none;
background-color: #000000;
}

#outer-box {
margin: 5px;
border: none;
background-color: #000000;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #000000;
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
background-color: #33343b;
}

#entry:selected #text {
font-weight: bold;
}
